copied_data/
mricron_lx/
venv/
DLTK/
example_code/
*.pyc

# Tensorflow
*logdir/
*/saved_logs/
events.*

# TFRecord data
*.tfrecords

# Other logs
out

# Images
*.png
*.jpg

# Notebooks
.ipynb_checkpoints/
